/*Barra de navegação*/
header {
    position: relative;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    background-color: #fa0078;
}

header h1 {
    color: white;
    font-family: 'Segoe UI';
}

nav {
    margin-right: 5px;
    padding: 5px;
    min-width: 410px;
    max-width: 500px;
}

nav a {
    border-left: 1px black solid;
    padding: 0px 4px;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav a:any-link {
    color: Black;
    text-decoration: none;
}

nav i {
    margin-right: 3px;
    Color: white;
    font-size: 12px;
    text-shadow: 0.5px;
}

header img {
    height: 5em;
    width: 5em;
    margin-left: 10px;
    border-radius: 100px;
    background-color: white;
}

/*Corpo dividido em duas partes. Principal e Aba lateral*/
#home-content {
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: 0px 25px 0px 0px;
    min-width: 600px;
    max-width: 820px;
    max-height: 1080px;
    margin-left: 5px;
}

body section h1, body section p {
    word-wrap: normal;
    text-align: justify;
}

div aside {
    min-width: 200px;
    max-width: 340px;
    margin: 5px 25px;
    padding: 0px 5px 10px 15px;
    text-align: justify;
    border-left: solid black 2px;
}